<div class="container p-4">
  <div class="flex justify-content-end mb-3">
    <button mat-fab color="primary"
            (click)="goToPage('state/create')" >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-card>

    <mat-card-title >Estados</mat-card-title>

    <div class="flex flex-wrap justify-content-center gap-3">
      <table mat-table [dataSource]="stateList" class="mat-elevation-">

        <!-- ID -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>

        <!-- Nome -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Nome</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Ações -->
        <ng-container matColumnDef="acoes">
          <th mat-header-cell *matHeaderCellDef>Ações</th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button color="primary" (click)="updateProduct(element.id)" >
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="primary" (click)="openDeleteDialog(element.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
    </div>

  </mat-card>
</div>
