<app-app-menu></app-app-menu>



<!--<mat-toolbar color="primary">-->
<!--  <span>Cadastro de Produto</span>-->
<!--  <span class="spacer"></span>-->
<!--  <button mat-button routerLink="/">Home</button>-->

<!--  <button mat-button routerLink="/produto">-->
<!--    <mat-icon fontIcon="feed"></mat-icon>Formulário</button>-->

<!--  <button mat-button routerLink="/consulta">-->
<!--    <mat-icon fontIcon="search"></mat-icon>Consulta</button>-->
<!--</mat-toolbar>-->
<!-- -&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;-->
<!--<div class="container overflow-y-auto">-->
<!--  &lt;!&ndash;                <div class="container h-full">&ndash;&gt;-->
<!--  <router-outlet></router-outlet>-->
<!--</div>-->

